body {
    margin: 0;
    overflow: hidden;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    margin: auto;
    overflow: hidden;
  }
  .box {
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .dabl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
  }
  button {
    color: aliceblue;
    background-color: black;
    padding: 10px 30px;
  }
